{% extends "template/template.twig" %}
{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/css/lib/loading-bar.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/lib/range-chart.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/lib/c3.min.css">
{% endblock %}
{% block content %}
    <div class="ed-item s-100 title-indicador">
        <h2 class="color-white">Teleasistencia</h2>
    </div>
    <div class="ed-item s-100 l-50 bg-white-transparent text-center color-white fit-content p-relative">
        <h3 class="text-center color-white p-v-1em title-home">Número de nuevos algoritmos generados</h3>
        <div class="ed-container">
            <div class="ed-item s-100 l-50">
                <div id="chart"></div>
            </div>
            <div class="ed-item s-100 l-50 text-center">
                <h3 class="meta">Meta total</h3>
                <h3 class="meta-numero">{{ indicador1.meta }}</h3>
                <div class="ed-container s-100 m-2em-b">
                    <div class="ed-item s-100 l-70 flex justify-flex-end">
                        <div class="ldBar label-center" data-preset="circle"
                             data-value="{{ indicador1.porcentaje }}"
                             style="width:100%;height:100%"
                             data-stroke-width="10"
                             data-stroke-trail-width="15"
                             data-stroke="#39B54A"
                             data-stroke-trail="#014D6F"
                        ></div>
                    </div>
                    <div class="ed-item s-100 l-30 p-relative flex justify-flex-end align-center">
                        <p class="p-absolute" style="margin-left: 10px">Cumplimiento</p>
                    </div>

                </div>
                <a href="{{ path_for('teleasistencia.indicador.1') }}" class="btn deg-yellow p-absolute home">Más información</a>
            </div>
        </div>
        <div class="flex l-cross-center p-v-1em">
            <p style="margin: 0;padding-left: 15px">Fecha ultima actualización: {{ "now"|date("Y-m-d") }}</p>
        </div>
    </div>
    <div class="ed-item s-100 l-50  bg-white-transparent text-center color-white fit-content p-relative">
        <h3 class="text-center color-white p-v-1em title-home">Número de pacientes vinculados al programa de Teleasistencia domiciliaria</h3>
        <div class="ed-container">
            <div class="ed-item s-100 l-50 flex l-cross-center">
                <h3 class="meta-numero-total">{{ indicador2.total }}</h3>
                <div class="range big" data-max="{{ indicador2.meta }}" data-valor="{{ indicador2.total }}" data-background="#014D6F" style="width: 90%" data-label="Meta total"></div>
            </div>
            <div class="ed-item s-100 l-50 text-center">
                <h3 class="meta">Meta total</h3>
                <h3 class="meta-numero">{{ indicador2.meta }}</h3>
                <div class="ed-container s-100 m-2em-b">
                    <div class="ed-item s-100 l-70 flex justify-flex-end">
                        <div class="ldBar label-center" data-preset="circle"
                             data-value="{{ indicador2.porcentaje }}"
                             style="width:100%;height:100%"
                             data-stroke-width="10"
                             data-stroke-trail-width="15"
                             data-stroke="#39B54A"
                             data-stroke-trail="#014D6F"
                        ></div>                    </div>
                    <div class="ed-item s-100 l-30 p-relative flex justify-flex-end align-center">
                        <p class="p-absolute" style="margin-left: 10px">Cumplimiento</p>
                    </div>

                </div>
                <a href="{{ path_for('teleasistencia.indicador.2') }}" class="btn deg-yellow p-absolute home">Más información</a>
            </div>
        </div>
        <div class="flex l-cross-center p-v-1em">
            <p style="margin: 0;padding-left: 15px">Fecha ultima actualización: {{ "now"|date("Y-m-d") }}</p>
        </div>
    </div>
    <div class="ed-item s-100 bg-white-transparent color-white text-center fit-content p-relative">
        <h3 class="text-center color-white p-v-1em title-home">Número de llamadas gestionadas con el modelo de atención de Teleasistencia domiciliaria
        </h3>
        <div class="ed-container">
            <div class="ed-item s-100 l-65 flex l-cross-center l-justify-center l-column">
                <h3 class="meta-numero-total text-left">{{ indicador3.total }}</h3>
                <div class="range big" data-max="{{ indicador3.meta }}" data-valor="{{ indicador3.total }}" data-background="#014D6F" style="width: 90%" data-label="Meta total"></div>
            </div>
            <div class="ed-item s-100 l-35 text-center">
                <h3 class="meta">Meta total</h3>
                <h3 class="meta-numero">{{ indicador3.meta }}</h3>
                <div class="ed-container s-100 m-2em-b">
                    <div class="ed-item s-100 l-70 flex justify-flex-end teleasistencia">
                        <div class="ldBar label-center" data-preset="circle"
                             data-value="{{ indicador3.porcentaje }}"
                             style="width:80%;height:80%"
                             data-stroke-width="10"
                             data-stroke-trail-width="15"
                             data-stroke="#39B54A"
                             data-stroke-trail="#014D6F"
                        ></div>
                    </div>

                    <div class="ed-item s-100 l-30 p-relative flex align-center">
                        <p class="p-absolute" style="margin-left: 10px;left: -50px;top: 83px;">Cumplimiento</p>
                    </div>
                </div>
                <a href="{{ path_for('teleasistencia.indicador.3') }}" class="btn deg-yellow p-absolute home">Más información</a>
            </div>
        </div>
        <div class="flex l-cross-center p-v-1em">
            <p style="margin: 0;padding-left: 15px">Fecha ultima actualización: {{ "now"|date("Y-m-d") }}</p>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ base_url() }}/js/lib/loading-bar.js"></script>
<script src="{{ base_url() }}/js/lib/range-chart.js"></script>
<script src="{{ base_url() }}/js/lib/d3-5.8.2.min.js"></script>
<script src="{{ base_url() }}/js/lib/c3.min.js"></script>

<script >
var chart = c3.generate({
    data: {
        columns: [
            ['Número de nuevos algoritmos', {{ indicador1.total }}]
        ],
        type: 'gauge',
    },
    gauge: {
        max: {{ indicador1.meta }},
        label: {
           format: function(value, ratio) {
                return value;
            },
            show: false, // to turn off the min/max labels.
       },
    },
    color: {
        pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
        threshold: {
//            unit: 'value', // percentage is default
//            max: 200, // 100 is default
            values: [3, 5, 10, 15],
        }
    },
    axis : {
      y : {
          show : false
      }
    },
    size: {
        height: 250
    },
    tooltip : {
        contents : function(d) {
            return "<div>"+d[0].value+"</div>";
        }
    }
});
</script>
{% endblock %}