{% extends "template/template.twig" %}
{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/css/lib/loading-bar.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/lib/range-chart.css">
{% endblock %}
{% block content %}
    <div class="ed-tiem s-100 l-90 bg-white p-all-2rem fill-content center">
        <a href="{{ path_for('panel.administrator') }}" class="btn deg-yellow">Volver</a>
        <br>
        {% if user %}
            <form action="{{ path_for('panel.user.update', { id : user.id }) }}" method="post" id="user">
        {% else %}
            <form action="{{ path_for('panel.user.store') }}" method="post" id="user">
        {% endif%}
            <div class="content-input">
                <label for="name">Nombres</label>
                <input type="text"  id="name" name="name" class="input" value="{{ user ? user.name : '' }}" required>
            </div>
            <div class="content-input">
                <label for="last_name">Apellidos</label>
                <input type="text" name="last_name" class="input" value="{{ user ? user.last_name : '' }}" required>
            </div>
            <div class="content-input">
                <label for="username">Username</label>
                <input type="text" name="username" class="input" value="{{ user ? user.username : '' }}" required>
            </div>
            <div class="content-input">
            {% if user is empty %}
                <label for="password">Contrase単a</label>
                <input type="password" name="password" class="input">
            {% else %}
                <label for="change_password"><input type="checkbox" value="1" name="change_password" id="change_password">多Cambiar contrase単a?</label>
                <div id="content-password" class="none">
                    <label for="password">Contrase単a</label>
                    <input type="password" name="new_password" class="input">
                </div>
            {% endif %}
            </div>
            <div class="content-input">
                <label for="institution">Programa</label>
                <select name="institution" id="institution" required>
                    <option value="">Seleccione</option>
                    {% for key, p in types %}
                        {% if user.institution == key %}
                            <option value="{{ key }}" selected>{{ p }}</option>
                        {% else %}
                            <option value="{{ key }}">{{ p }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="content-input">
                <button class="btn deg-green">{{ user ? 'Actualizar' : 'Crear' }}</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ base_url() }}/js/modules/user.js"></script>
{% endblock %}