{% extends "template/template.twig" %}
{% block style %}
    <style href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"></style>
{% endblock %}
{% block content %}
    <div class="ed-item s-100 bg-white p-all-2rem">
        <div class="ed-container">
            <div class="ed-item s-100 l-70">
                <canvas id="line"></canvas>
            </div>
            <div class="ed-item s-100 l-30">
                <table>
                    <tbody>
                        {% set i = 0 %}
                        {% for a in months %}
                            <tr>
                                <td>
                                    {{ a }}
                                </td>
                                <td>
                                    {{ values[i] }}
                                </td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br><br><br>
        <div class="ed-item s-100 bg-white">
            <table>
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Número de profesionales capacitados</th>
                    <th>Origen curso</th>
                </tr>
                </thead>
                <tbody>
                {% for c in courses %}
                    <tr>
                        <td>{{ c.curso }}</td>
                        <td>{{ c.profesionales_capacitados  }}</td>
                        <td>{{ c.origen }}</td>
                    </tr>
                {% endfor %}
					<tr>
						<td>Curso de entrenamiento y manejo en covid-19 para primer y segundo nivel de atención</td>
						<td>1821</td>
						<td></td>
					</tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascript %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>

    var ctx = document.getElementById('line').getContext('2d');

    var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels : {{ months | json_encode | raw }},
         datasets: [{
            label: 'Número de profesionales capacitados',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ values | json_encode | raw }}
        }]
    },

});
</script>
{% endblock %}