{% extends "template/template.twig" %}
{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/css/lib/loading-bar.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/lib/range-chart.css">
{% endblock %}
{% block content %}
    <div class="ed-tiem s-100 l-20 l-cross-center">
        <h1 class="color-white">Dashboard</h1>
        <p class="color-white">
            Bienvenidos al centro de <br>
            información del proyecto <br>
            Bid - Facultad de Medicina de la <br>
            Universidad de Antioquia
        </p>
    </div>

    <div class="ed-item s-100 l-80">
        <div class="ed-container full">
            <div class="ed-item s-100 l-1-3">
                <div class="card-stats yellow">
                    <h3>Telemedicina</h3>
                    <span class="update-date">{{ 'now' | date("M d") }} de {{ 'now' | date('Y') }}</span>
                    <small>Fecha última actualización</small>
                    <h2>{{ telemedicina.total }}</h2>
                    <small>Prestaciones a personas vulnerables</small>
                    <div class="range" data-max="{{ telemedicina.meta }}" data-valor="{{ telemedicina.total }}" data-background="#F01246" style="width: 90%" data-label="Meta total"></div>
                    <div class="ldBar label-center" data-preset="circle"
                         data-value="{{ telemedicina.porcentaje }}"
                         style="width:80%;height:80%"
                         data-stroke-width="10"
                         data-stroke="#FCE61D"
                         data-stroke-trail="#F01246"
                         data-stroke-trail-width="15"
                    ></div>
                    <h4>Cumplimiento del indicador</h4>
                    <br>
                    <a href="{{ path_for('telemedicina.index') }}" class="btn deg-yellow">Más información</a>
                </div>
            </div>
            <div class="ed-item s-100 l-1-3">
                <div class="card-stats green">
                    <h3>Teleasistencia</h3>
                    <span class="update-date">{{ 'now' | date("M d") }} de {{ 'now' | date('Y') }}</span>
                    <small>Fecha última actualización</small>
                    <h2>{{ teleasistencia.total }}</h2>
                    <small>Nuevos algoritmos generados</small>
                    <div class="range" data-max="{{ teleasistencia.meta }}" data-valor="{{ teleasistencia.total }}" data-background="#014D6F" style="width: 90%" data-label="Meta total"></div>
                    <div class="ldBar label-center" data-preset="circle"
                         data-value="{{ teleasistencia.porcentaje }}"
                         style="width:80%;height:80%"
                         data-stroke-width="10"
                         data-stroke-trail-width="15"
                         data-stroke="#39B54A"
                         data-stroke-trail="#014D6F"
                    ></div>
                    <h4>Cumplimiento del indicador</h4>
                    <br>
                    <a href="{{ path_for('teleasistencia.index') }}" class="btn deg-green">Más información</a>
                </div>
            </div>
            <div class="ed-item s-100 l-1-3">
                <div class="card-stats blue">
                    <h3>Teleducación</h3>
                    <span class="update-date">{{ 'now' | date("M d") }} de {{ 'now' | date('Y') }}</span>
                    <small>Fecha última actualización</small>
                    <h2>{{ teleducacion.total }}</h2>
                    <small>Profesionales da la salud capacitados</small>
                    <div class="range" data-max="1000" data-valor="{{ teleducacion.total }}" data-background="#FCE61D" style="width: 90%" data-label="Meta total"></div>
                    <div class="ldBar label-center" data-preset="circle"
                         data-value="{{ teleducacion.porcentaje }}"
                         style="width:80%;height:80%"
                         data-stroke-width="10"
                         data-stroke-trail-width="15"
                         data-stroke="#FCE61D"
                         data-stroke-trail="#014D6F"
                    ></div>
                    <h4>Cumplimiento del indicador</h4>
                    <br>
                    <a href="{{ path_for('teleducacion.index') }}" class="btn deg-blue">Más información</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
<script src="{{ base_url() }}/js/lib/loading-bar.js"></script>
<script src="{{ base_url() }}/js/lib/range-chart.js"></script>
{% endblock %}